<main>
  <h1>Cart's Products</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price by unit</th>
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr class="product">
          <td>{{this.product.title}}</td>
          <td>{{this.product.category}}</td>
          <td>{{this.quantity}}</td>
          <td>{{this.product.price}}</td>
          <td onclick="deleteProduct('{{this.product._id}}')"><button>Borrar</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <button class="buy-button">Comprar</button>
</main>
<script>
  document.querySelector(".buy-button").addEventListener("click", async (e) => {
    if ("{{_id}}") {
      const result = await (await fetch(`/api/carts/{{_id}}/purchase`, {method: "POST"})).json()
      console.log(result)
    }
    else {
      const result = await (await fetch(`/api/carts/{{id}}/purchase`, {method: "POST"})).json()
      console.log(result)
    }
    window.location.replace("/products")
  })

  const deleteProduct = async (pid) => {
    await fetch("/api/carts/{{_id}}/products/"+pid, {method: "DELETE"})
    window.location.replace("/products")
  }
</script>