<main>
  <div class="products">
    <h1>Products</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Stock</th>
          <th>Price</th>
          <th>More</th>
        </tr>
      </thead>
      <tbody>
        {{#each docs}}
          <tr class="product">
            <td>{{this.title}}</td>
            <td>{{this.category}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.price}}</td>
            <td>
              {{#if this._id}}
                <button class="view-more-button" id="{{this._id}}">View More</button>
              {{else}}
                <button class="view-more-button" id="{{this.id}}">View More</button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div>
      {{#if hasPrevPage}}
        <button class="link-pages">{{prevPage}}</button>
      {{/if}}
      <button class="actual-page">{{page}}</button>
      {{#if hasNextPage}}
        <button class="link-pages">{{nextPage}}</button>
      {{/if}}
    </div>
  </div>
  <div>
    <p>Bienvienido {{user.first_name}} {{user.last_name}}. Tu email es {{user.email}}, tenes {{user.age}} años y tu rol es de {{user.role}}</p>
    <a href="/api/session/logout">LogOut</a>
    <a href="/carts/{{user.cart}}">Tu carrito</a>
  </div>
</main>

<script>
  const pagesButtons = document.querySelectorAll(".link-pages")
  const viewMoreButtons = document.querySelectorAll(".view-more-button")
  for (let button of pagesButtons) {
    button.onclick = (e) => {
      const queryParams = new URLSearchParams(window.location.search)
      queryParams.set("page", button.innerText)
      window.location.replace("/products?"+queryParams)
    }
  }

  for (let button of viewMoreButtons) {
    button.onclick = (e) => {
      window.location.replace("/products/"+e.target.id)
    }
  }
</script>