<main>
  <h1>{{title}}</h1>
  <h2>Category: {{category}}</h2>
  <p>{{description}}</p>
  <h2>Stock: {{stock}}</h2>
  <h3>Price: ${{price}}</h3>
  <a class="buy-button" id="{{_id}}" href="/products">Buy</a>
</main>
<style>
  main {
    gap: 20px;
  }
  .buy-button {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: rgb(11, 134, 21);
  }
</style>